{% extends "base.html" %}

{% block content %}
    <div class="container">
         <img src="../static/profile_pics/default_profile.jpg" width="200" height="210" align="right">
        <div class="jumbotron">
            <h1>About the <span>Company</span></h1>
            <h4><span>CODE.io</span> is an open plateform which helps in organizing your work.</h4>
            <h4></h4>
        </div>
    </div>`
<div class="container" align="center">
    <div class="container2" align="center">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Service one</h3>
                <p>CODE.io is a platform for teaching people who have an interest in your areas of expertise.By sharing your code you will not only teach others, but you will also teach yourself more about the topic. You will learn because you will always be looking for more things to teach your readers.</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Service Two</h3>
                <p>It is an open-source hosting service, sort of like a cloud for code. It hosts your source code in a variety of different programming languages and keeps track of the various changes made to every iteration.</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Service three</h3>
                <p>Socialise with people and Build reputation.Yes it’s a social platform too though there is nothing as wall or chat option, but you can check out others work and learn from them.</p>
            </div>
        </div>
    </div>
</div>

    <br>
    <br>
    <div class="jumbotron">
        <h2>About me</h2>
           <img src="../static/rishabh.jpg" width="160" height="240" align="right">
        <h4>HELLO
        <h5>I'm Rishabh Tiwari. At the moment, I’m a student in Dayanand Sagar University, Bangalore.<br>
            I moved to Bangalore a few years back, to pursue bachelor's degree.<br>
            I'm completing my bachelor's degree in Computer Science and Engineering and<br>
            highly motivated to learn front-end web designing and full-stack web development.<br>
            I spend my whole day, practically every day, experimenting with HTML and CSS, <br>
            dabbling with Python.
        </h5>
        <br>
        <h5>If you're interested in my work, drop an email at <span>13rishabhtiwari@gmail.com</span></h5>
        <br>
        <h4>Follow me</h4>
        <h6><a href="https://github.com/rishabh-in">Github</a></h6>
        <h6><a href="https://www.linkedin.com/in/itsmerishabh/">Linkedin</a> </h6>
         <h6><a href="https://www.facebook.com/itsRishabhHere">Facebook</a> </h6>
        <h6><a href="https://www.instagram.com/rishabh.in_/">Instagram</a></h6>


    </div>
</div>
    <br>
    <br>

{% endblock %}