{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div align="center">
                <h1>{{user.username}}</h1>
                <img align="center" src="{{url_for('static',filename='profile_pics/'+user.profile_image)}}">
            </div>
        </div>
    </div>
            {% for post in code_post.items %}
            <div class="card">
                <div class="card-body">
                    <h2>{{post.title}}</h2>
                    <h5>Posted by: {{post.author.username}}</h5>
                    <p>Published on: {{post.date.strftime("%B,%d,%Y")}}</p>
                    <a class="btn btn-primary" href="{{url_for('code_posts.code_post',code_post_id=post.id)}}">Read Code</a>
                </div>
            </div>
            {% endfor %}


    <nav aria-label="Page navigation example">
       <ul class="pagination justify-content-center">
           {% for page_num in code_post.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
           {% if code_post.page==page_num %}
            <li class="page-item disabled">
                <a style="color:#fff;" class="page_link" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{page_num}}</a>
            </li>
           {% else %}
             <li class="page-item">
                <a style="color:#fff;" class="page_link" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{page_num}}</a>
            </li>
           {% endif %}
           {% endfor %}
       </ul>
    </nav>

{% endblock %}